* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter, Arial;
    background: #111;
    color: #fff;
}

.app-container {
    display: flex;
    height: 100vh;
}

/* SIDEBAR */

.sidebar {
    width: 260px;
    background: #1c1c1c;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.sidebar-header {
    font-weight: bold;
    margin-bottom: 20px;
}

.search-box input {
    width: 100%;
    padding: 8px;
    background: #2a2a2a;
    border: none;
    color: white;
    border-radius: 6px;
}

.chat-list {
    margin-top: 20px;
    flex: 1;
}

.chat-item {
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 8px;
    cursor: pointer;
}

.chat-item:hover {
    background: #2a2a2a;
}

.chat-item.active {
    background: #333;
}

.user-info {
    font-size: 12px;
    opacity: 0.6;
}

/* MAIN AREA */

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #181818;
}

.chat-header {
    padding: 20px;
    border-bottom: 1px solid #2a2a2a;
}

.chat-header input {
    width: 100%;
    padding: 10px;
    background: #2a2a2a;
    border: none;
    border-radius: 20px;
    color: white;
}

.chat-box {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.user-msg {
    align-self: flex-end;
    background: #2563eb;
    padding: 10px 15px;
    border-radius: 12px;
    margin-bottom: 15px;
    max-width: 70%;
}

.bot-msg {
    background: #2a2a2a;
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 20px;
    max-width: 70%;
}

.bot-title {
    font-weight: bold;
    margin-bottom: 8px;
}

.report-link a {
    color: #38bdf8;
    text-decoration: none;
}

.input-area {
    display: flex;
    padding: 15px;
    border-top: 1px solid #2a2a2a;
}

.input-area input {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background: #2a2a2a;
    color: white;
}

.input-area button {
    margin-left: 10px;
    padding: 10px 15px;
    border-radius: 50%;
    border: none;
    background: #2563eb;
    color: white;
    cursor: pointer;
}
